* {
    box-sizing: border-box;
}

body {
    z-index: -1;
    background-image: url("/assets/images/background-hanandchewy.png");
    background-color: #cccccc;
 }
   
   
h1 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: #FDC403;
    background-color: black;

}


h3 {
    margin: 1%;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 100%;
    font-size: 24px;
    text-decoration: underline;
}

.char {
    width: 88%;
    height: auto; 
    margin: 6%; 
    float: left;
}  

.image-container-char {
    position: relative;
    text-align: center;
    background-color: white;
    float: left;
    width: 240px;
    margin: 10px 20px;
    border: 2px solid black;
  }



.text {
    position: absolute;
    z-index: 999;
    background: white;
    color: rgb(17, 182, 52);
    text-align: center;
    font-size: 24px;
    width: 100%; 
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    bottom: 3%;
}

.name {
    position: absolute;
    z-index: 999;
    background: white;
    color: rgb(17, 182, 52);
    text-align: center;
    font-size: 24px;
    width: 100%; 
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    top: 3%;
}

.enemies {
    float: right;
    text-align: center;
    width: 22%;
    background-color: purple;
    image

}

.your-character {
   
    float: left;
    background-color: rgb(17, 182, 52);
    text-align: center;

}

.fight-character {

    text-align: center;
    background-color: red;
    position: absolute;
    bottom: 3%



}

.battle-flag {
    position: absolute;
    top: 29%;
    z-index: 999;
    background-color: black;
    color: #FDC403;
    font-size: 24px;
    margin: 10%;
    width: 5%;
    text-align: center;
    padding: 1%;

}

